

#coral-line {
    
}





@keyframes animateShape {
    0% {
        d: "M.36,0s206,191.91,428.5,157.19S600.32,311.06,901,200.86c156-59.81,200.6,11.15,222,80,23.54,75.75,76.66,94,146.06,10.25"
    }
    50% {
        d: "M.36,496s242.26,30.58,428.5,157.19S831.2,586.52,925,704.86c85,107.24,158-58,225,51,48.07,78.21,150.6,68.76,220-15"
    }
    100% {
        d: "M.36,0s206,191.91,428.5,157.19S600.32,311.06,901,200.86c156-59.81,200.6,11.15,222,80,23.54,75.75,76.66,94,146.06,10.25"
    }
}