.svg-our-team {
    position: relative;
    bottom: 30px;
    margin-left: 3rem;
    flex: 1 1 auto;
}

.svg-contact {
    min-width: 80%;
    z-index: 1;
    position: absolute;
    left: -500px;
    bottom: 215px;
}

#header-woman {
    flex: 1 1 auto;
}