@media (max-width: 1300px) {
    nav{
        margin: 1.6rem auto;
    }
}

@media (max-width: 1100px) {

    html {
        font-size: 15px;
    }

    .top {
        width: 80vw;
        #bg-top {
            position: relative;
            left: 150px;
        }
    }

    #logo {
        width: 27vw;
    }

    nav {

        width: 92vw;

        ul {
            li{
                margin: .2rem .4rem;
            }
        }
    }

}

// Foooter 

@media (max-width: 1200px) {
    
}