/* ================
    NAVBAR SPECIAL QUERIES
===============*/

@media (max-width: 1049px) {
  nav {
    margin: 2% auto;
    .menu li {
      margin: 0.2rem 0.8rem;
      a {
        font-size: 1.1em;
      }
    }
  } 
  }
  

@media (max-width: 839px) {
  nav .menu li {
    margin: 0.2rem 0.5rem;
    a {
      font-size: 1em;
    }
  }
}

@media (max-width: 699px) {
  nav .menu li {
    margin: 0.2rem 0.3rem;
    a {
      font-size: 0.85em;
    }
  }
}

// MEDIA REST

@media (max-width: 799px) {
  main {
    width: 95vw;

    header {
      flex-direction: column;
      text-align: center;

      svg {
        width: 60%;
        height: auto;
        margin: 3rem;
      }

      .header-info {
        h3, p {
          max-width: unset;
        }

        h3 {
          margin: 0.8rem auto;
        }
      } 
      
    }
  }

  .card {
    .wrapper {
      flex-direction: column-reverse;
      text-align: center;
      padding-bottom: 3rem;

      svg {
        width: 60%;
        height: auto;
      }

      .info {
        margin-top: 1.5rem;

        .list {
          margin: 0;
          justify-content: center;

          .list-item {
            text-align: left;
          }
        }

        h3 {
          margin: 0.8rem auto;
        }
      }
    }
  }

  .contact {
    .wrapper {
      p {
        width: 100%;
      }
    }
  }

  .contact-info {
    flex-direction: column;
    flex-wrap: nowrap;

    li {
      margin: 0 !important;
    }
  }

  footer {
    padding-top: 15px;

    .svg-contact {
      left: 50%;
      transform: translateX(-50%);
      width: 500px;
      bottom: 123px;
    }

    .wrapper {
      width: 100vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .social {
        width: 90%;
        padding: unset;
        border-left: none;
        border-bottom: 1px solid $coral-light;
        text-align: center;
        padding: 1.5rem 0;
        z-index: 3;
      }

      .copy {
        padding: unset;
        order: 3;

        svg {
          margin: 1.5rem auto;
          width: 60%;
          height: auto;
        }

        p {
          font-size: 0.75rem;
          font-weight: 400;
        }
      }

      .footer-nav {
        order: 2;
        border-bottom: 1px solid $coral-light;
        width: 90%;

        & > a {
          display: none;
        }

        ul {
          display: flex;
          border-right: none;
          margin: 0 auto;
          padding: 1.5rem 0;

          li {
            margin: 0 1em;
          }
        }
      }
    }
  }
}

// MOBILE

@media (max-width: 599px) {
  html,
  * {
    font-size: 14px;
    //  border: 1px solid red;
  }

  main {
    margin: 8em auto 0;
  }

  .top {
    display: none;
  }

  nav {
    width: 100vw;
    display: block;

    #logo {
      position: absolute;
      width: 40vw;
      top: 35px;
      left: 40px;
    }

    .hamburger {
      width: 25px;
      height: 25px;
      position: absolute;
      background: none;
      top: 40px;
      right: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      border: none;
      outline: none;

      .line {
        // width: 100px;
        height: 4px;
        background: $coral;
        border-radius: 10px;
      }

      &:hover {
        .line {
          background: $coral-light;
        }
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      flex-direction: column;
      justify-content: center;
      width: 60vw;
      height: 100vh;
      // opacity: .5;
      background: $coral;
      color: #fff;
      box-shadow: -10px 0 25px rgba(0, 0, 0, 0.3);
      z-index: 1;
      transition: width 400ms ease-in-out;

      &--active {
        width: 0vw;
      }

      .close {
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
        border: none;
        background: none;
        color: #fff;
        outline: none;
        font-size: 2em;
      }

      li {
        margin: 3em auto;

        a {
          color: #fff;
          font-size: 1.3em;
        }
      }
    }
  }

  header {
    flex-direction: column;
    text-align: center;

    svg {
      width: 100%;
      margin: 0 auto;
      height: auto;
    }

    .header-info {
      margin: 0;
      margin-bottom: 3rem;
      width: 80%;

      h1 {
        font-size: 2.2em;
        width: 100%;
      }

      h3 {
        margin: 0.5em 0;
        font-size: 1.3em;
      }

      p {
        font-size: 0.9em;
      }
    }
  }

  .card {
    width: 100%;

    .wrapper {
      width: 95vw;
      flex-direction: column-reverse;

      svg {
        width: 90%;
        height: auto;
        margin: 0 auto;
      }

      .info {
        margin: 0 auto;
        margin-top: 1.5rem;
        width: 80%;
        text-align: center;

        h2 {
          font-size: 2.2em;
        }

        h3 {
          margin: 0.5em 0;
          font-size: 1.3em;
        }

        p {
          font-size: 0.9em;
        }

        .list {
          flex-direction: column;
          align-items: center;

          .list-item {
            width: 50%;
            margin-left: 0 !important;
          }
        }
      }
    }
  }

  .contact {
    height: 500px;
    background: none;
    text-align: center;
  }

  footer {
    z-index: -1;
    padding-top: 21px;

    .svg-contact {
      width: 400px;
      height: auto;
      left: -170px;
      bottom: 227px;
      transform: none;
    }

    .wrapper {
      flex-direction: column;
      align-items: center;
      z-index: 3;

      .social {
        padding: 0;
        border: none;
        top: 10px;
        right: 10px;
        text-align: center;
        z-index: 5;
        margin: 2em 0 0.4em;
      }

      .copy {
        order: 2;
        margin: 0 auto 3em;

        svg {
          width: 70%;
          margin-bottom: 0.5em;
        }

        p {
          font-size: 0.9em;
        }
      }

      .footer-nav {
        display: none;
      }
    }
  }
}
