@import './bg';
@import './assets';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');


html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  overflow: hidden;

}

nav {
  width: 85vw;
  margin: 3rem auto;
  overflow: hidden;
  display: flex;
  align-items: flex-start;

    .logo {
      width: 300px;
      margin-right: auto;
    }

    ul {
      display: flex;
      list-style-type: none;
      font-size: 1.25rem;

      a {
        text-decoration: none;
        color: #fff;
        padding: .1rem .5rem;
        border-radius: 3px;
      }

      li {
        margin: .2rem  1rem;

        :hover {
          background: #fff;
          color: $coral;
          border-radius: 3px;
        }
      }
    }
  }


#bg-top {
  position: absolute;
  top: -5px;
  right: -170px;
  z-index: -1;
  width: 1200px;
}

main {
  width: 85vw;
  margin: 10rem auto 0;
}

header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .header-info {

    margin-left: 3rem;


    h1 {
      font-size: $large;
      font-weight: 900;
      color: $black;
    }

    h3 {
      font-size: $big;
      font-weight: 700;
      color: $black;
      margin: $m-big 0;
    }

    p {
      font-size: $normal;
    }
  }
}

section {
  background: $coral;
  margin-top: 5rem;
  .info {
    width: 85vw;
    margin: 0 auto;
  }
}
